# Ignore example (demo app) folder:

example
test

# Ignore some dev configs:

.jsbeautifyrc
.tern-project
.eslintrc.json
# .babelrc used for mocha es2015 test (thus for dev not necessary for prod):
.babelrc
